<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Welcome to Ferromone Trails!</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
        th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
        rel="stylesheet" media="screen"/>
  <link href="/static/css/core.css"
        th:href="@{/css/core.css}"
        rel="stylesheet" media="screen"/>
  <script src="http://cdn.jsdelivr.net/webjars/jquery/3.1.1-1/jquery.min.js"
          th:src="@{/webjars/jquery/3.1.1-1/jquery.min.js}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.2/sockjs.min.js"></script>
  <script src="http://bernii.github.io/gauge.js/dist/gauge.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/bootstrap-slider.min.js" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.4.4/sweetalert2.min.css" />
  <script src="https://cdn.jsdelivr.net/sweetalert2/6.4.4/sweetalert2.min.js"></script>
  <style>
    .slider-selection{
      background: #6ed2e8;
    }
  </style>

  <th:block layout:fragment="script"></th:block>
</head>
<body>
<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Ferromone Trails</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" th:with="view=${#httpServletRequest.getServletPath()}">
        <li th:classappend="${#strings.equals(view,'/')? 'active' : ''}"><a href="#" th:href="@{/}">Home</a></li>
        <li th:classappend="${#strings.equals(view,'/simulation')? 'active' : ''}"><a href="/" th:href="@{/simulation}">Simulation</a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div layout:fragment="content">
    <div class="hero-unit">
      <h1>You've reached a template :-)</h1>
    </div>
  </div>
</div>

</body>
</html>