<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Welcome to Ferromone Trails!</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
        th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
        rel="stylesheet" media="screen"/>
  <link href="/static/css/core.css"
        th:href="@{/css/core.css}"
        rel="stylesheet" media="screen"/>
  <script src="http://cdn.jsdelivr.net/webjars/jquery/3.1.1-1/jquery.min.js"
          th:src="@{/webjars/jquery/3.1.1-1/jquery.min.js}"></script>

  <script src="https://cdn.jsdelivr.net/sockjs/1.1.2/sockjs.min.js"></script>
  <script type="text/javascript" th:inline="javascript">
    var ws = null;
    function connect() {
      var target = /*[[@{/ws}]]*/ null;

      ws = new SockJS(target);
      ws.onopen = function() {
        console.log('open');
      };
      ws.onmessage = function(e) {
        console.log('message', e.data);
      };
      ws.onclose = function() {
        console.log('close');
      };
    }
    function disconnect() {
      if (ws != null) {
        ws.close();
        ws = null;
      }
    }
    function wsm(msg) {
      if (ws != null) {
        log('Sent: ' + msg);
        ws.send(msg);
      } else {
        log('WebSocket connection not established, please connect.');
      }
    }
    function log(message) {
      console.log(message);
    }
    connect();
  </script>
</head>
<body>
<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Ferromone Trails</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="hero-unit">
    <h1>Welcome</h1>
    <p>
      Ferromone Trails - Train Simulation
    </p>
  </div>
</div>
</body>
</html>