<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="base">
<head>
  <title>Welcome to Ferromonte Trails Simulation</title>
</head>
<body>

<div class="container">
  <div layout:fragment="content">
    <div class="panel panel-default" id="manage-simulation">
      <div class="panel-heading">
        <h3 class="panel-title">Manage Simulation</h3>
      </div>
      <div class="panel-body" id="control-deck">
        <div class="row" style="text-align: center;">
          <div class="col-md-3">
            <button class="btn btn-primary" onclick="startSimulation();">
              Start
              Simulation
            </button>
          </div>
          <div class="col-md-3">
            <button class="btn btn-success" onclick="sendCommand('start trains')">Start
              Trains
            </button>
          </div>
          <!--<div class="col-md-3">
            <button class="btn btn-info" onclick="sendCommand('get push data')">Get Push</button>
          </div>-->
          <div class="col-md-3">
            <button class="btn btn-info" onclick="sendCommand('toggle interactive')">
              Toggle Interactive
            </button>
          </div>
          <div class="col-md-3">
            <button class="btn btn-danger" onclick="sendCommand('stop simulation')">Stop
              Simulation
            </button>
          </div>
        </div>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-3" style="text-align: center; padding-top: 5px;">World
              Map:
            </div>
            <div class="col-md-7"><select class="form-control" id="worldmap"></select>
            </div>
            <div class="col-md-2">
              <button class="btn btn-block btn-default" onclick="buildWorld()">GO
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="panel panel-primary" id="trains_block" style="display: none;">
      <div class="panel-heading">
        <h3 class="panel-title">Trains</h3>
      </div>
      <div class="panel-body">
        <canvas id="simCanvas" width="1100" height="300" style="margin: 0 auto;"></canvas>
        <div class="row" id="trains">

        </div>
      </div>
    </div>

    <div class="panel panel-success" id="journeys_block" style="display: none;">
      <div class="panel-heading">
        <h3 class="panel-title">Journeys</h3>
      </div>
      <div class="panel-body">
        <div class="row" id="journeys">

        </div>
      </div>
    </div>

    <div id="templates" style="display: none;">
      <div class="train_template">
        <div class="col-md-4" style="text-align: center;">
          <div style="text-align: center"><h3 class="train_name"></h3></div>
          <canvas class="guage"></canvas>
          <ul class="list-group">
            <li class="list-group-item">Current Speed: <span
                class="current_speed"></span></li>
            <li class="list-group-item">Target Speed: <span class="target_speed"></span>
            </li>
            <li class="list-group-item">Acceleration: <span class="acceleration"></span>
            </li>
            <li class="list-group-item">
              <input class="slider" type="text" data-slider-min="0"
                     data-slider-max="300"
                     data-slider-step="1" data-slider-value="0"/>
              <button class='btn btn-info set_speed'>Set Target Speed</button>
              <button class='btn btn-danger emergency_break'>Emergency Break</button>
            </li>
          </ul>
        </div>
      </div>
      <div class="journey_template">
        <div class="col-md-4" style="text-align: center;">
          <div style="text-align: center"><h3 class="journey_name"></h3></div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar"
                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                 style="width: 0%">
            </div>
          </div>
          <ul class="list-group">
            <li class="list-group-item">Head: <span
                class="head_position"></span>, Tail:<span
                class="tail_position"></span></li>
            <li class="list-group-item">Speed: <span title="Current speed (m/s)"
                                                     class="current_speed"></span>
              (<span
                  class="advisory_speed"
                  title="Last Advisory Speed (m/s)"></span>, <span
                  class="target_speed" title="Target Speed (m/s)"></span>) | A:
              <span
                  class="acceleration" title="Acceleration (m2/s)"></span></li>
            <li class="list-group-item">Next Train Distance: <span class="next_distance"
                                                                   title="Predicted distance to next train (m)"></span>
              / <span class="actual_distance"
                      title="Actual distance to next train (m)"></span>
            </li>
            <li class="list-group-item">GSM sent: <span class="last_gsm_sent"
                                                        title="How long ago train last sent squawk down the line"></span>,
              received: <span class="last_gsm_received"
                              title="How long ago train last sent squawk down the line"></span>
            </li>
            <li class="list-group-item">Train Objective: <span class="objective"
                                                               title="Train's current objective"></span>
            </li>

            <li class="list-group-item">Path: <span class="path"></span> (<span
                class="path_length"></span>m)
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>

<th:block layout:fragment="script">
  <script type="text/javascript" th:inline="javascript">
    'strict';
    var worldMaps = /*[[${maps}]]*/{};

    var guages = {};
    var sliders = {};

    var ws = null;
    var data = null;
    var initialised = false;
    function connect(onOpen) {
      var target = /*[[@{/ws}]]*/ null;

      ws = new SockJS(target);
      ws.onopen = function () {
        console.log('open');
        if (onOpen !== undefined) {
          onOpen();
        }
      };
      ws.onmessage = function (e) {
        var wasJson = false;
        try {
          data = JSON.parse(e.data);
          wasJson = true;

        } catch (err) {
          console.log(e.data);
        }

        if (data !== null) {
          if (wasJson) {
            //console.log(data);
            if (!initialised) {
              if (data.interactive) {
                initialize();
              } else {
                checkForViolations();
              }
            } else {
              updateStats();
            }
          }
        }
      };
      ws.onclose = function () {
        console.log('close');
        ws = null;
      };
    }
    function disconnect() {
      if (ws !== null) {
        ws.close();
        ws = null;
      }
    }
    function wsm(msg) {
      if (ws !== null) {
        log('Sent: ' + msg);
        ws.send(msg);
      } else {
        log('WebSocket connection not established, please connect.');
      }
    }
    function log(message) {
      console.log(message);
    }

    function startSimulation() {
      sendCommand('start simulation');
    }

    function buildWorld() {
      sendSet('worldMap', null, $('#worldmap').find(":selected").data('key'));
      $('#control-deck').slideDown('fast');
    }

    function sendCommand(command) {
      var commandObject = {
        command: command
      };
      var action = function () {
        ws.send(JSON.stringify(commandObject));
      };

      if (ws === null) {
        return connect(action);
      }
      action();
    }

    function sendSet(type, target, data) {
      var commandObject = {
        type: 'set',
        set: type,
        targetID: target,
        data: data
      };
      console.log(JSON.stringify(commandObject));

      var action = function () {
        ws.send(JSON.stringify(commandObject));
      };

      if (ws === null) {
        return connect(action);
      }
      action();
    }

    function getPush() {
      sendCommand('get push data');
    }

    function updateStats() {
      updateTrains();
      updateJourneys();
      checkForViolations();
      updateVis();
    }

    function checkForViolations() {
      var violations = data.violations;
      for (var violationID in violations) {
        var violation = violations[violationID];
        if (violation.severity === "CRITICAL") {
          swal(
              violation.severity + ' Violation!',
              "[" + violation.type + "]" + violation.description,
              'error'
          )
        }
      }
    }

    function updateTrains() {
      var trains = data.world.trainMap;
      for (var trainID in trains) {
        var train = trains[trainID];
        var trainKey = '#train-' + trainID;
        $(trainKey).find('.target_speed').html(train.engine.targetSpeed);
        $(trainKey).find('.acceleration').html(train.engine.acceleration);
        //$(trainKey).find('.slider').slider('setValue', train.engine.speed);
        //sliders[trainID].slider('setValue', train.engine.targetSpeed);
        guages[trainID].set(train.engine.speed);
      }
    }

    function initialize() {
      initialised = true;
      $('#control-deck').slideDown();
      buildTrains();
      buildJourneys();
      globalStage = initVis(data);
    }

    function updateJourneys() {
      var journeys = data.world.journeysMap;
      for (var journeyID in journeys) {
        var journey = journeys[journeyID];
        var journeyKey = '#journey-' + journeyID;
        var percent_completed = Math.round(
            (journey.totalDistanceTravelled) * 100.0 / (journey.path.length
            - journey.train.length));
        $(journeyKey).find('.progress-bar').attr('aria-valuenow', percent_completed)
        .css('width',
            percent_completed + '%').html(percent_completed + '%');
        $(journeyKey).find('.head_position')
        .html(Math.round(journey.headPosition * 100.0) / 100.0);
        $(journeyKey).find('.tail_position')
        .html(Math.round(journey.tailPosition * 100.0) / 100.0);
        $(journeyKey).find('.path_length').html(journey.path.length);
        //$(journeyKey).find('.is_finished').html(journey.journeyFinished ? "Yes" : "No");
        if (journey.journeyFinished) {
          $(journeyKey).find('.progress-bar').removeClass('active');
        } else {
          $(journeyKey).find('.progress-bar').addClass('active');
        }
        var paths = journey.journeyInformation.path;
        var occupied = journey.journeyInformation.occupied;
        var train = journey.train;
        var ecu = train.ecu;

        $(journeyKey).find('.current_speed').html(train.engine.speed.toFixed(1));
        $(journeyKey).find('.advisory_speed')
        .html(train.engine.lastAdvisorySpeed.toFixed(0));
        $(journeyKey).find('.target_speed').html(train.engine.targetSpeed.toFixed(0));
        $(journeyKey).find('.acceleration').html(train.engine.acceleration.toFixed(1));
        $(journeyKey).find('.objective').html(train.engine.lastObjective);

        $(journeyKey).find('.last_gsm_sent').html(train.timeLastSquawkSent);
        $(journeyKey).find('.last_gsm_received').html(train.timeLastSquawkSent);

        var nextTrainDistance = ecu.nextTrainPredictor.distance.toFixed(1);
        var nextTrainDistanceActual = ecu.actualDistance.toFixed(1);
        if (nextTrainDistance == -1) {
          nextTrainDistance = "LEAD";
        }
        $(journeyKey).find('.next_distance').html(nextTrainDistance);
        if (nextTrainDistanceActual == -1) {
          nextTrainDistanceActual = "-";
        }
        $(journeyKey).find('.actual_distance').html(nextTrainDistanceActual);

        var pathArray = [];
        for (var pathIndex in paths) {
          var path = paths[pathIndex];
          if (occupied.includes(path)) {
            path = "<b>" + path + "</b>";
          }
          pathArray.push(path);
        }
        $(journeyKey).find('.path').html(pathArray.join(", "));

        //$(journeyKey).find('.current_path').html(journeyFinished ? "Yes" : "No");
      }
    }

    function buildJourneys() {
      var journeys = data.world.journeysMap;
      $('#journeys_block').slideDown('fast');
      for (var journeyID in journeys) {
        var journey = journeys[journeyID];
        var journeyKey = 'journey-' + journeyID;
        var template = $('.journey_template').clone();
        template.data('journeyID', journeyID);
        template.attr('id', journeyKey);
        template.find('.journey_name').text("Journey " + journeyID);
        template.attr('class', 'single_journey');
        $('#journeys').append(template);
      }
    }

    function buildTrains() {
      var trains = data.world.trainMap;
      $('#trains_block').slideDown('fast');
      for (var trainID in trains) {
        var train = trains[trainID];
        var trainKey = 'train-' + trainID;
        var template = $('.train_template').clone();
        template.data('trainID', trainID);
        template.attr('id', trainKey);
        template.find('.train_name').text("Train " + trainID);
        template.find('.slider').attr('data-slider-value',
            Math.floor(train.engine.speed));
        template.attr('class', 'single_train');

        $('#trains').append(template);
        sliders[trainID] = $('#' + trainKey).find('.slider').slider({
          formatter: function (value) {
            return 'Target Speed (meters/s): '
                + value;
          }
        });
        // guage
        var opts = {
          angle: -0.2, // The span of the gauge arc
          lineWidth: 0.2, // The line thickness
          radiusScale: 1, // Relative radius
          pointer: {
            length: 0.6, // // Relative to gauge radius
            strokeWidth: 0.035, // The thickness
            color: '#000000' // Fill color
          },
          limitMax: false,     // If false, the max value of the gauge will be updated if value surpass max
          limitMin: false,     // If true, the min value of the gauge will be fixed unless you set it manually
          colorStart: '#6FADCF',   // Colors
          colorStop: '#8FC0DA',    // just experiment with them
          strokeColor: '#E0E0E0',  // to see which ones work best for you
          generateGradient: true,
          highDpiSupport: true     // High resolution support
        };
        var target = $('#' + trainKey).find('.guage')[0]; // your canvas element
        var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
        var textField = $('#' + trainKey).find('.current_speed')[0];
        gauge.setTextField(textField);
        guages[trainID] = gauge;
        gauge.maxValue = 150; // set max gauge value
        gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
        gauge.animationSpeed = 32; // set animation speed (32 is default value)
        gauge.set(train.engine.speed); // set actual value
      }
    }

    function setTrainTargetSpeed(trainID, speed) {
      sendSet('trainTargetSpeed', trainID, speed);
    }
    function emergencyBreak(trainID) {
      sendSet('emergencyBreak', trainID, null);
    }
    $(document).ready(function () {
      $('#control-deck').hide();
      for (var mapName in worldMaps) {
        var mapKey = worldMaps[mapName];
        $('#worldmap').append($('<option/>').attr("data-key", mapKey).html(mapName));
      }
      connect(function () {
        getPush();
      });
      $(document).on('click', '.set_speed', function () {
        var tid = $(this).parents('.single_train').data('trainID');
        var newSpeed = sliders[tid].slider('getValue');
        setTrainTargetSpeed(tid, newSpeed);
      });
      $(document).on('click', '.emergency_break', function () {
        var tid = $(this).parents('.single_train').data('trainID');
        emergencyBreak(tid);
      });
    })

  </script>
  <script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
  <script>

    var globalStage;
    var globalTrains = {};
    var globalStations = {};
    var globalTracks = {};
    var globalSignals = {};

    const baseY = 10;
    const baseThickness = 50;
    const trackMarkerWidth = 30;

    function updateVis() {
      updateTrainsVisual(data, globalStage);
      updateSignals(data, globalStage);
      globalStage.update();
    }

    const colorMap = {
      "accelerating": "green",
      "decelerating": "red",
      "still": "orange",
      "": "yellow"
    };

    function  updateSignals(data, stage){
      for (const key in data.signalPoints) {
        var tData = data.signalPoints[key];

        globalSignals[key].signalCommand.style = tData.status;
      }
    }

    function updateTrainsVisual(data, stage) {
      for (const key in data.trainPoints) {
        var tData = data.trainPoints[key];
        var trainKey = parseInt(key.split("-")[1])
        //globalTrains[key].train.x = (tData.to + tData.from) / 2 - 25;
        //globalTrains[key].trainBlock.graphics.command.x = tData.from;
        globalTrains[key].trainContainer.x = (tData.to + tData.from) / 2 - 25;
        var status = "";
        var acceleration = data.world.journeysMap[trainKey].train.engine.acceleration;
        if (acceleration > 0) {
          status = "accelerating";
        } else {
          if (acceleration == 0) {
            status = "still";
          } else {
            status = "decelerating";
          }
        }
        //console.log(key + " is " + status)
        //console.log(data.world.trainMap[trainKey])
        globalTrains[key].trainStatusCommand.style = colorMap[status];
        globalTrains[key].trainObjective.text = data.world.journeysMap[trainKey].train.engine.lastObjective;
        //globalTrains[key].trainBlock.w = tData.to - tData.from;

      }
    }

    function addSignals(data, stage) {
      for (const key in data.signalPoints) {
        var sigdata = data.signalPoints[key];

        var signal = new createjs.Container();

        var sigBox = new createjs.Shape();
        sigBox.graphics.beginFill("white").drawRoundRect(0, 80, 50, baseY * 5,5);
        signal.addChild(sigBox);

        var sigColor = new createjs.Shape();
        var signalCommand = sigColor.graphics.beginFill(sigdata.status).command;
        sigColor.graphics.drawCircle(25, 105, 20);
        signal.addChild(sigColor);

        signal.x = data.trackPoints["Track-" + sigdata.trackID].from + sigdata.offset;

        stage.addChild(signal);

        globalSignals[key] = {
          signal: signal,
          signalCommand: signalCommand
        }
      }
    }

    function addTrains(data, stage) {
      for (const key in data.trainPoints) {
        var tData = data.trainPoints[key];

        var trainContainer = new createjs.Container();

        var trainBlock = new createjs.Shape();

        var trainStatusCommand = trainBlock.graphics.beginStroke("white").beginFill(
            "orange").command;
        trainBlock.graphics.rect(0, 0,
            tData.to - tData.from,
            baseThickness, baseY);
//                trainBlock.x = (tData.to + tData.from) / 2;
        trainBlock.y = -80;
        trainBlock.snapToPixel = true;
        trainBlock.on("click", function (e) {
          swal(key);
        });
        trainBlock.cursor = "pointer";

        stage.addChild(trainBlock);
        var train = new createjs.Bitmap("/css/train_white.png");
        train.scaleX = 0.2;
        train.scaleY = 0.2;
        train.x = tData.from - (tData.to + tData.from) / 2;
        train.y = 9;
        train.image.onload = function () {
          stage.update();
        };
        train.snapToPixel = true;

        var trainIdentifier = new createjs.Text(key, "20px Arial", "#fff");
        trainIdentifier.y = baseThickness + 20;
        trainIdentifier.x = tData.from - (tData.to + tData.from) / 2;

        var trainObjective = new createjs.Text("", "20px Arial", "#fff");
        trainObjective.y = baseThickness + 50;
        trainObjective.x = tData.from - (tData.to + tData.from) / 2;

        trainContainer.addChild(trainBlock, train, trainIdentifier,trainObjective);
        trainContainer.x = (tData.to + tData.from) / 2 - 25;

        stage.addChild(trainContainer);

        globalTrains[key] = {
         // trainBlock: trainBlock,
         // train: train,
          trainContainer: trainContainer,
          trainStatusCommand: trainStatusCommand,
          trainObjective:trainObjective
        }
      }
    }
    function addStations(data, stage) {
      const stationHeight = 150;
      for (const key in data.stationPoints) {
        var sData = data.stationPoints[key];
        var station = new createjs.Shape();

        station.graphics.beginFill("#6eb741")
        .rect(sData.from, -stationHeight + 60, sData.to - sData.from, stationHeight);
        stage.addChild(station);

        // top of track indicator
        var stationBar = new createjs.Shape();

        stationBar.graphics.beginFill("#fff").rect(sData.from, -stationHeight + 60 - 10,
            sData.to - sData.from,
            baseY);
        stage.addChild(stationBar);

        var stationIdentifier = new createjs.Text(key, "30px Arial", "#fff");
        stationIdentifier.y = -stationHeight;
        stationIdentifier.x = sData.from + (sData.to - sData.from) / 5;
        stage.addChild(stationIdentifier);

        globalStations[key] = {
          station: station,
          stationBar: stationBar
        }
      }
    }
    function addTracks(data, stage) {
      for (const key in data.trackPoints) {
        var t = data.trackPoints[key];
        var track = new createjs.Shape();
        track.graphics.beginFill("DeepSkyBlue").rect(t.from, baseThickness, t.to - t.from,
            baseY);
        stage.addChild(track);

        // end of track indicator
        var endOfTrack = new createjs.Shape();

        endOfTrack.graphics.beginFill("red")
        .rect(t.to - trackMarkerWidth, baseThickness - (baseThickness / 2),
            trackMarkerWidth, baseY * 6);
        stage.addChild(endOfTrack);

        globalTracks[key] = {
          track: track,
          endOfTrack: endOfTrack
        }
      }
    }

    function initVis(data) {
      var canvas = document.getElementById("simCanvas");
      var stage = new createjs.Stage("simCanvas");
      canvas.style.backgroundColor = "#0a121d";

      stage.x = 0;
      stage.y = 100;
      stage.scaleX = 0.5;
      stage.scaleY = 0.5;

      addTracks(data, stage);

      addStations(data, stage);

      addTrains(data, stage);

      addSignals(data, stage);

      stage.update();

      canvas.addEventListener("mousewheel", MouseWheelHandler, false);
      canvas.addEventListener("DOMMouseScroll", MouseWheelHandler, false);

      var zoom;

      function MouseWheelHandler(e) {
        e.stopPropagation();
        e.preventDefault();
        if (Math.max(-1, Math.min(1, (e.wheelDelta || -e.detail))) > 0) {
          zoom = 1.1;
        } else {
          zoom = 1 / 1.1;
        }
        var local = stage.globalToLocal(stage.mouseX, stage.mouseY);
        stage.regX = local.x;
        stage.regY = local.y;
        stage.x = stage.mouseX;
        stage.y = stage.mouseY;
        stage.scaleX = stage.scaleY *= zoom;

        stage.update();

      }

      stage.addEventListener("stagemousedown", function (e) {
        var offset = {x: stage.x - e.stageX, y: stage.y - e.stageY};
        stage.addEventListener("stagemousemove", function (ev) {
          stage.x = ev.stageX + offset.x;
          stage.y = ev.stageY + offset.y;
          stage.update();
        });
        stage.addEventListener("stagemouseup", function () {
          stage.removeAllEventListeners("stagemousemove");
        });
      });

      return stage;
    }
  </script>
</th:block>

</body>
</html>